<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/Admin/Users/Info', id]"
      >User Info</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/Admin/Users/ActiveBooks', id]"
      >Current Rentals</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/Admin/Users/History', id]"
      >Books Submission History</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/Admin/Users/SendDetails', id]"
      >Actions</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/Admin/Users/Delete', id]"
      >Delete</a
    >
  </li>
</ul>
<div class="container mt-5">
  <div id="liveAlertPlaceholder" class="mx-auto mt-3"></div>
  <div class="form-container" [ngClass]="{ transparent: spinnerVisible }">
    <div class="spinner-container" *ngIf="spinnerVisible">
      <div class="d-flex row align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Send mail about current issued books -->
      <div class="col-md-8 mb-3">
        <p class="fw-bold">
          1. Notify users about the books they currently have issued, send
          reminder for pending books:
        </p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="sendReminder()">
          Reminder
        </button>
      </div>
    </div>

    <div class="row">
      <!-- Send personal info of the user -->
      <div class="col-md-8 mb-3">
        <p class="fw-bold">2. Share the personal information of a user:</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="sendMailAboutPersonalInfo()">
          Presonal Info
        </button>
      </div>
    </div>

    <div class="row">
      <!-- Send reset password link -->
      <div class="col-md-8 mb-3">
        <p class="fw-bold">3. Send a reset password to a user:</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="sendResetPasswordLink()">
          Reset Password
        </button>
      </div>
    </div>
  </div>
</div>
