.image-preview {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300px;
}
