# Ignore node_modules directory
node_modules/

# Ignore npm debug log files
npm-debug.log

# Ignore Docker-related files
Dockerfile*
docker-compose*
.dockerignore

# Ignore Git-related files
.git
.gitignore

# Ignore editor and IDE configurations
.vscode

# Ignore build artifacts
dist/
