/* Add this CSS to your component's stylesheet or a global stylesheet */
.form-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ensure the container covers the full form area */
  background-color: rgba(255, 255, 255, 0.5); /* Increase the transparency */
}

.transparent {
  opacity: 0.5;
  transition: opacity 1s;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure it's above the form */
  display: flex;
  align-items: center;
  justify-content: center;
  background: none; /* Remove background from the spinner-container */
}
