<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/Books/User/Info"
      >User Info</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      routerLink="/Books/User/Address"
      >Address</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      routerLink="/Books/User/History"
      >Book History</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      routerLink="/Books/User/BillingInfo"
      >Your Invoices</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      routerLink="/Books/User/Password"
      >Password</a
    >
  </li>
</ul>

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Your Address</h2>
    <button
      class="btn btn-outline-secondary"
      *ngIf="!updateFrom && isAddressRegistered && isDataArrived"
      (click)="enableUpdate()"
    >
      Update Address
    </button>

    <button
      class="btn btn-outline-secondary"
      *ngIf="!updateFrom && !isAddressRegistered && isDataArrived"
      (click)="enableUpdate()"
    >
      Add Address
    </button>
  </div>

  <div id="liveAlertPlaceholder" class="mt-3"></div>
  <div class="form-container" [ngClass]="{ transparent: spinnerVisible }">
    <form
      (ngSubmit)="save()"
      class="row g-3 mt-3"
      [formGroup]="addressForm"
      #form="ngForm"
    >
      <div class="col-md-6">
        <label for="address1" class="form-label">Address Line 1</label>
        <input
          formControlName="address1"
          type="text"
          class="form-control"
          id="address1"
        />
        <div
          class="text-danger"
          *ngIf="
            addressForm.controls['address1'].hasError('required') &&
            addressForm.controls['address1'].touched
          "
        >
          Enter Address
        </div>
        <div
          class="text-danger"
          *ngIf="
            addressForm.controls['address1'].hasError('minlength') &&
            addressForm.controls['address1'].touched
          "
        >
          Please Enter at least 3 characters
        </div>
      </div>
      <div class="col-md-6">
        <label for="address2" class="form-label">Address Line 2</label>
        <input
          formControlName="address2"
          type="text"
          class="form-control"
          id="address2"
        />
      </div>
      <div class="col-md-3">
        <label for="city" class="form-label">City</label>
        <input
          formControlName="city"
          type="text"
          class="form-control"
          id="city"
        />
        <div
          class="text-danger"
          *ngIf="
            addressForm.controls['city'].hasError('required') &&
            addressForm.controls['city'].touched
          "
        >
          Enter City
        </div>
      </div>

      <div class="col-md-3">
        <label for="province" class="form-label">Province</label>
        <input
          formControlName="province"
          type="text"
          class="form-control"
          id="province"
        />
        <div
          class="text-danger"
          *ngIf="
            addressForm.controls['province'].hasError('required') &&
            addressForm.controls['province'].touched
          "
        >
          Province is required
        </div>
      </div>

      <div class="col-md-3">
        <label for="country" class="form-label">Country</label>
        <input
          formControlName="country"
          type="text"
          class="form-control"
          id="country"
        />
        <div
          class="text-danger"
          *ngIf="
            addressForm.controls['country'].hasError('required') &&
            addressForm.controls['country'].touched
          "
        >
          Country is required
        </div>
      </div>
      <div class="col-md-3">
        <label for="postal" class="form-label">Postal Code</label>
        <input
          formControlName="postal"
          type="postal"
          class="form-control"
          id="postal"
        />
        <div
          class="text-danger"
          *ngIf="
            addressForm.controls['postal'].hasError('required') &&
            addressForm.controls['postal'].touched
          "
        >
          Enter Postal Code
        </div>
        <div
          class="text-danger"
          *ngIf="
            addressForm.controls['postal'].hasError('minlength') ||
            (addressForm.controls['postal'].hasError('maxlength') &&
              addressForm.controls['postal'].touched)
          "
        >
          Postal code should be six characters only
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button
          class="btn btn-outline-primary m-2"
          [disabled]="!addressForm.valid"
          type="submit"
          *ngIf="updateFrom && isAddressRegistered"
        >
          Update
        </button>
        <button
          class="btn btn-outline-primary m-2"
          [disabled]="!addressForm.valid"
          type="submit"
          *ngIf="updateFrom && !isAddressRegistered"
        >
          Add
        </button>
        <button
          class="btn btn-outline-secondary m-2"
          *ngIf="updateFrom"
          (click)="disableUpdate()"
        >
          Cancel
        </button>
      </div>

      <p *ngIf="updateFrom && !addressForm.valid" class="text-center">
        Please Fill All Abobe fields to submit
      </p>
    </form>
    <div class="spinner-container" *ngIf="spinnerVisible">
      <div class="d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
