<h2>Add Category</h2>
<div id="liveAlertPlaceholder" class="mt-3"></div>
<div class="form-container" [ngClass]="{ transparent: spinnerVisible }">
  <div class="spinner-container" *ngIf="spinnerVisible">
    <div class="d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <form
    (ngSubmit)="save()"
    class="row g-3 mt-3"
    [formGroup]="categoryForm"
    #form="ngForm"
  >
    <div class="row col-md-3">
      <div
        class="image-preview"
        [style.background-image]="
          'url(' + categoryForm.controls['imageURL'].value + ')'
        "
      ></div>
    </div>
    <div class="row col-md-9">
      <div class="">
        <label for="name" class="form-label">Category Name</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          id="name"
        />
        <div
          class="text-danger"
          *ngIf="
            categoryForm.controls['name'].hasError('required') &&
            categoryForm.controls['name'].touched
          "
        >
          Please enter category name
        </div>
        <div
          class="text-danger"
          *ngIf="
            categoryForm.controls['name'].hasError('minlength') &&
            categoryForm.controls['name'].touched
          "
        >
          Please enter at least 3 characters
        </div>
      </div>
      <div class="">
        <label for="imageURL" class="form-label">ImageURL</label>
        <input
          formControlName="imageURL"
          type="text"
          class="form-control"
          id="imageURL"
        />
        <div
          class="text-danger"
          *ngIf="
            categoryForm.controls['imageURL'].hasError('required') &&
            categoryForm.controls['imageURL'].touched
          "
        >
          Please enter imageURL
        </div>
        <div
          class="text-danger"
          *ngIf="
            categoryForm.controls['imageURL'].hasError('minlength') &&
            categoryForm.controls['imageURL'].touched
          "
        >
          Please enter at least 3 characters
        </div>
      </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto mt-5">
      <button
        class="btn btn-outline-primary"
        [disabled]="!categoryForm.valid"
        type="submit"
      >
        Submit
      </button>
      <button
        class="btn btn-outline-secondary"
        type="button"
        [routerLink]="['/Admin/AddBook']"
      >
        Go Back
      </button>
      <p *ngIf="!categoryForm.valid" class="text-center">
        Please fill all above fields to submit
      </p>
    </div>
  </form>
</div>
